<!-----------------------------------------------formulario--------------------- -->
<form [formGroup]="form" (ngSubmit)="save($event)">
  <!--instancia form ts-->
  <p>
    <!-- Name: {{ form.get('value') }} {{ nameField.valid }} -->
    Name: {{ nameField.value  }} {{ nameField.valid }}
    <input
    [class.is-valid]="isNamedValid"
    [class.is-invalid]="isNameInvalid"
    type="text"
    formControlName="name"/>
    <button [disabled]="nameField.invalid" (click)="getNameValue()">
      Get value
    </button>

    <!-- <code>
    <pre>
      {{nameField | json}}
    </pre>
  </code> -->
  </p>

  <div class="messages" [class.active]="isNameFieldInvalid">
    <p>
      <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong>
    </p>

    <p>
      <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">debe tener maximo 10 c</strong>
    </p>
  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email"/>
  </p>


  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone"/>
  </p>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color"/>
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date"/>
  </p>

  <p>
    Phone: {{ ageField.value }}
    <input type="number" formControlName="age"/>
  </p>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
      <option value="category-4">Category 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree"/>
  </p>


  <p>
    Gender: {{ genderField.value }}
    <label>
      <input name="gender" value="male" type="radio" formControlName="gender"/>
      Male
    </label>
    <label>
      <input name="gender" value="female" type="radio" formControlName="gender"/>
      Female
    </label>
    <label>
      <input name="gender" value="other" type="radio" formControlName="gender"/>
      Other
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input name="zone" value="zone-1" type="radio" formControlName="zone"/>
      Zona 1
    </label>
    <label>
      <input name="zone" value="zone-2" type="radio" formControlName="zone"/>
      Zona 2
    </label>
    <label>
      <input name="zone" value="zone-3" type="radio" formControlName="zone"/>
      Zona 3
    </label>
  </p>

  <p>
    <button type="submit">Enviar</button> <!-- este disable es lo puedo desabilitar desdr inspector -->
  </p>
</form>

<!-- <div>
  <mat-form-field>
    <input
      matInput
      placeholder="Ingresa tu nombre aqui"
      [formControl]="nameField"
      required
    />
    <mat-error *ngIf="nameField.hasError('required')"
      >Este campo es requerido</mat-error
    >
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="nameField.invalid"
    (click)="getNameValue()"
  >
    Get value
  </button>
</div> -->
<hr />
<p>
  Name: {{ nameField.value }} {{ nameField.valid }}
  <input
    [class.is-valid]="isNameFieldValid"
    [class.is-invalid]="isNameFieldInvalid"
    type="text"
    [formControl]="nameField"
  />
  <button [disabled]="nameField.invalid" (click)="getNameValue()">
    Get Name Value
  </button>
  <!-- <code>
    <pre>
      {{nameField | json}}
    </pre>
  </code> -->
</p>
<!-- mensajes de erro -->
<div class="messages" [class.active]="nameField.touched && nameField.invalid">
  <p>
    <strong *ngIf="nameField.hasError('required') && nameField.dirty">
      Este campo es requerido</strong
    >
  </p>
  <p>
    <strong *ngIf="nameField.hasError('maxlength') && nameField.touched"
      >Debe tener maximo 10 caracteres</strong
    >
  </p>
</div>
<div>
  <p>
    Email: {{ emailField.value }}
    <!-- es una instancia de un FormControl -->
    <input type="email" [formControl]="emailField" />
  </p>

  <p>
    phone: {{ phoneField.value }}
    <!-- es una instancia de un FormControl -->
    <input type="email" [formControl]="phoneField" />
  </p>

  <p>
    color: {{ colorField.value }}
    <!-- es una instancia de un FormControl -->
    <input type="color" [formControl]="colorField" />
  </p>

  <p>
    date: {{ dateField.value }}
    <!-- es una instancia de un FormControl -->
    <input type="date" [formControl]="" />
  </p>

  <p>
    age: {{ ageField.value }}
    <input type="number" [formControl]="ageField" />
  </p>

  <p>
    category: {{ categoryField.value }}
    <select [formControl]="categoryField">
      <option value="category-1">category 1</option>
      <option value="category-2">category 2</option>
      <option value="category-3">category 3</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select [formControl]="tagField" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </p>

  <p>
    agree: {{ agreeField.value }}
    <input type="checkbox" [formControl]="agreeField" />
  </p>

  <p>
    gender: {{ genderField.value }}
    <!-- es una instancia de un FormControl -->
    <label>
      <input type="radio" value="male" [formControl]="genderField" />
      Male
    </label>
    <label>
      <input type="radio" value="female" [formControl]="genderField" />
      Female
    </label>
    <label>
      <input type="radio" value="other" [formControl]="genderField" />
      Other
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <!-- es una instancia de un FormControl -->
    <label>
      <input
        name="zone"
        type="radio"
        value="zone-1"
        [formControl]="zoneField"
      />
      ZONE 1
    </label>
    <label>
      <input
        name="zone"
        type="radio"
        value="zone-2"
        [formControl]="zoneField"
      />
      ZONE 2
    </label>
    <label>
      <input
        name="zone"
        type="radio"
        value="zone-3"
        [formControl]="zoneField"
      />
      ZONE 3
    </label>
  </p>
</div>
