/* .example-card{
    max-width: 400px;
}

.example-header-image{
    background-size: cover;
}

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
 */
:host{
    width: 96%;
    margin: 2%;
    display: block;
  }
  table {
    width: 100%;
    img {
      width: 150px;
    }
  }